<% title(_('Securely Send a Password')) %>

<div class='container'
    data-controller="knobs pwgen passwords form"
    data-knobs-lang-day-value="<%= _('Day') %>"
    data-knobs-lang-days-value="<%= _('Days') %>"
    data-knobs-default-days-value="<%= Settings.pw.expire_after_days_default %>"
    data-knobs-lang-view-value="<%= _('View') %>"
    data-knobs-lang-views-value="<%= _('Views') %>"
    data-knobs-default-views-value="<%= Settings.pw.expire_after_views_default %>"
    data-knobs-lang-save-value="<%= _('Save') %>"
    data-knobs-lang-saved-value="<%= _('Saved!') %>"
    data-knobs-default-retrieval-step-value="<%= Settings.pw.retrieval_step_default %>"
    data-knobs-default-deletable-by-viewer-value="<%= Settings.pw.deletable_pushes_default %>"
    data-pwgen-use-numbers-default-value="<%= Settings.gen.has_numbers %>"
    data-pwgen-title-cased-default-value="<%= Settings.gen.title_cased %>"
    data-pwgen-use-separators-default-value="<%= Settings.gen.use_separators %>"
    data-pwgen-consonants-default-value="<%= Settings.gen.consonants %>"
    data-pwgen-vowels-default-value="<%= Settings.gen.vowels %>"
    data-pwgen-separators-default-value="<%= Settings.gen.separators %>"
    data-pwgen-min-syllable-length-default-value="<%= Settings.gen.min_syllable_length %>"
    data-pwgen-max-syllable-length-default-value="<%= Settings.gen.max_syllable_length %>"
    data-pwgen-syllables-count-default-value="<%= Settings.gen.syllables_count %>"
    data-knobs-ga-enabled-value="<%= ENV.key?('GA_ENABLE') %>">
<%= render partial: "shared/topnav" %>
<%= form_for @push, data: { action: 'form#submit' } do |f| %>
    <div class='row'>
        <div class='col'>
            <%= f.text_area(:payload, { class: "form-control",
                                        rows: 6,
                                        placeholder: _('Enter the Password or Text to push...'),
                                        autocomplete: "off",
                                        spellcheck: "false",
                                        autofocus: true,
                                        required: true,
                                        "data-pwgen-target" => "payloadInput",
                                        "data-passwords-target" => "payloadInput",
                                        "data-action" => "input->passwords#updateCharacterCount"
                                         }) %>
            <div class='position-relative'>
                <div id="the-count" class="position-absolute bottom-0 end-0 m-2 px-3 opacity-75">
                    <span id="current" data-passwords-target="currentChars">0</span>
                    <span id="maximum" data-passwords-target="maximumChars">/ 1048576 <%= _('Characters') %></span>
                </div>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-12 col-sm-12 p-3 mt-3'>
            <div class='row my-3 px-5'> <hr> </div>
            <div class='row mb-3'>
                <p class='fst-italic fw-light'><%= _('All passwords are encrypted prior to storage and are available to only those with the secret link.  Once expired, encrypted passwords are unequivocally deleted from the database.') %></p>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col'>
            <p class='my-3'>
                <button class="form-control btn btn-primary" type="submit" data-form-target="pushit" data-disable-with="Pushing..."><%= _('Push It!') %></button>
            </p>
        </div>
    </div>
<% end %>

<%= render partial: 'shared/pw_generator_modal', cached: true %>

</div>
